exportPattern("^[[:alpha:]]+")

import("ProFit")
import("ProFound")
import("ProSpect")
import("ParmOff")
import("Highlander")
import("magicaxis")
import("foreach")

importFrom("graphics", "image", "legend")
importFrom("stats", "median", "smooth.spline", "quantile")
importFrom("utils", "packageVersion")
importFrom("celestial", "cosdistLumDist")
